body {
	/* background: #CFA9F5; */
	background: black;
}

.clippy {
	height: 300px;
	width: 300px;
	background: url('./res/map.png');
	background-position: 0 0;
}

.clippy-text {
	color: white;
	height: 250%;
}